body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color:#F2E2B1;
    text-align: center;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}
.menu li{
    position: relative;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration:  none;
}
.menu li a:hover{
    background-color: #D5C7A3;
}
.submenu{
    display: none;
    position: absolute;
    background-color:#BDB395;
    list-style-type: none;
    padding: 0;
    margin: o;
}
.menu li:hover .submenu{
    display: block;
}
.submenu li a{
    padding: 10px 15px;
}
.submenu li a:hover{
    background-color: blanchedalmond;
}
